<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Store</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut recusandae labore ipsum sapiente, reprehenderit
        laudantium tempore laboriosam vitae ipsam, eaque explicabo perspiciatis delectus fugiat, atque illo. Voluptatem
        provident rem sapiente!</p>

        <h3>estamos aprendiendo a usar los cambios de git</h3>

</body>

</html>