@import url("variables.css");

header{
    width: 100vw;
    height: 500px;
    background-color: var(--color1);
}







.producto{
    font-size: var(--funte-prod);
}

.producto-oferta{
    font-size: var(--funte-prod);
}

.producto{
    font-size: var(--funte-prod);
}

.producto-oferta{
    font-size: var(--funte-prod);
}

.producto{
    font-size: var(--funte-prod);
}

.producto-oferta{
    font-size: var(--funte-prod);
}

.producto{
    font-size: var(--funte-prod);
}

.producto-oferta{
    font-size: var(--funte-prod);
}
