@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');




*{
    padding:0;
    margin:0;
    font-family: 'Rubik', sans-serif;
}


.w-100{
    width: 100%;
}

.flex{
    display: flex;
}

.content{
    width:100%;
}

