<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
</head>
<body>
    <form action="/" class="form-producto">

        <label for="" class="w-60">Nombre del producto</label>
        <input type="text" class="w-60" placeholder="Ingrese nombre del producto">
        <label for="" class="w-60">Descripcion</label>
        <input type="text" class="w-60" placeholder="Ingrese descripcion">
        <label for="" class="w-60">Usuario</label>
        <input type="text" class="w-60" placeholder="Ingrese un nombre de usuario">
        <label for="" class="w-60">Categoria</label>
        <select type="" class="w-60" > 
            <Option value="categoria"> Auriculares </Option>
            <Option value="categoria"> Teclados </Option>
            <Option value="categoria"> Pantallas </Option>
            <Option value="categoria"> CPU </Option>
            <Option value="categoria"> Memorias </Option>
        </select>
        <label for="" class="w-60">Precio</label>
        <input type="text" class="w-60" placeholder="Ingrese precio">

        <a href="" class="w-100"><input type="submit" class="boton-enviar"></a>
        <a href="" class="w-100"><input type="reset" value="Limpiar datos" class="boton-enviar"></a>


    </form>
</body>
</html>