<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("partials/head") %>

</head>

<body>

    <!-- LAUTARO Y PABLO -->
    <%- include("partials/header")%>

    <main class="main-carrito">
        <div class="h2-div">
            <h2 class="h2-carrito">CARRITO DE COMPRAS</h2>
        </div>


        <section class="section-carrito">
            
            <% carrito.forEach(product => { %>
                <%- include('./products/productCarrito.ejs',{product}) %>
            <% }) %>
           
            <article class=" p-1 contenedor-carrito">
                <h3>Forma de pago</h3>

                <div class="radio-carrito">
                     <input type="radio" name="forma-Pago">
                    <label for="">Deposito o transferencia bancaria</label>
                </div>

                <div class="radio-carrito">
                    <input type="radio" name="forma-Pago" >
                <label for="">Mercado pago - Tarjetas online, PagoFacil, RapiPago</label>
                </div>

                
                <p>Total:</p>
                <p>30000</p>
                <a href=""><input type="submit" value="Comprar"></a>
            </article>
        </section>
    </main>


    <!-- AXEL -->
    <%- include("partials/footer")%>

    </body>

</html>