<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("partials/head") %>

</head>

<body>
    <!-- LAUTARO Y PABLO -->
    <%- include("partials/header")%>

        <main class="main-form">

            <form action="/products" method="post" class="form-add" enctype="multipart/form-data"">
    
            <h2 class=" form-title">Contactanos</h2>


                <div class="item-content-form price-form">
                    <label for="precio" class="label-form">Nombre</label>
                    <input type="text" class="input-nombre" placeholder="Ingrese su nombre" name="nombrbe" id="nombre">
                </div>

                <div class="item-content-form price-form">
                    <label for="descuento" class="label-form">Apellido</label>
                    <input type="text" name="apellido" id="apellido" class="input-label"
                        placeholder="Ingrese su apellido">
                </div>

                <div class="item-content-form category-form">
                    <label for="localidad" class="label-form">Localidad</label>
                    <select class="input-select" name="categoria" id="categoria">
                        <Option class="option-form" value="Buenos Aires"> Buenos Aires</Option>
                        <Option class="option-form" value="Catamarca"> Catamarca </Option>
                        <Option class="option-form" value="Chaco"> Chaco </Option>
                        <Option class="option-form" value="Chubut">Chubut </Option>
                        <Option class="option-form" value="Cordoba"> Córdoba</Option>
                        <Option class="option-form" value="Corrientes"> Corrientes</Option>
                        <Option class="option-form" value="Entre Ríos"> Entre Ríos</Option>
                        <Option class="option-form" value="Formosa"> Formosa </Option>
                        <Option class="option-form" value="Jujuy">Jujuy </Option>
                        <Option class="option-form" value="La Pampa"> La Pampa</Option>
                        <Option class="option-form" value="La Rioja"> La Rioja</Option>
                        <Option class="option-form" value="Mendoza"> Mendoza </Option>
                        <Option class="option-form" value="Misiones"> Misiones </Option>
                        <Option class="option-form" value="Neuquén">Neuquén </Option>
                        <Option class="option-form" value="Río Negro"> Río Negro</Option>
                        <Option class="option-form" value="Salta"> Salta</Option>
                        <Option class="option-form" value="San Juan"> San Juan </Option>
                        <Option class="option-form" value="San Luis"> San Luis</Option>
                        <Option class="option-form" value="Santa Cruz">Santa Cruz</Option>
                        <Option class="option-form" value="Santa Fe"> Santa Fe</Option>
                        <Option class="option-form" value="Santiago del Estero"> Santiago del Estero</Option>
                        <Option class="option-form" value="Tierra del Fuego"> Tierra del Fuego</Option>
                        <Option class="option-form" value="Tucumán"> Tucumán</Option>

                    </select>
                </div>

                <div class="item-content-form file-form">
                    <label for="image" class="label-form">Email</label>
                    <input type="email" class="input-file" name="email" id="email">
                </div>
                <div class="item-content-form file-form">
                    <label for="image" class="label-form">Motivo</label>
                    <input type="text" class="input-file" name="motivo" id="motivo" placeholder='Ej: "Quiero comprar productos por mayor"'>
                </div>


                <div class="item-content-form area-form">
                    <label for="descripcion" class="label-form">Mensaje</label>
                    <textarea type="text" class="input-textarea" placeholder="Escriba aquí su mensaje" name="mensaje"
                        id="mensaje"></textarea>
                </div>


                <div class="item-content-form button-form-content">
                    <input type="submit" class="button-form">
                    <input type="reset" value="Limpiar datos" class="button-form">
                </div>

            </form>

        </main>

        <!-- AXEL -->
        <%- include("partials/footer")%>

            
</body>

</html>