<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIGITAL STORE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/icon.png">
</head>

<body>
    <!-- LAUTARO Y PABLO -->
    <%- include("partials/header")%>

    <main class="main-contacto">
    <!--MAIN DE PAGINA DE CONTACTO-->

    <div class="contenedor-contacto">
       
        <form action="/" class="form-login-contacto">
    
            <label for="" class="label-contacto">Nombre:</label>
            <input type="text" class="input-contacto" placeholder="Ingrese su nombre">
           
            <label for="" class="label-contacto">Email:</label>
            <input type="email" class="input-contacto" placeholder="Ingrese su e-mail" >

            <textarea class="comentario-contacto" placeholder="Haga aqui sus comentarios"></textarea>

            <input type="submit" class="submit-contacto">
    
    
    
        </form>

    </main>

    <!-- AXEL -->
    <%- include("partials/footer")%>
    
    <!-- SCRIPTS -->
    <script src="/script/index.js"></script>
    <script src="https://kit.fontawesome.com/1c41280639.js" crossorigin="anonymous"></script>
    
    </body>
    
    </html>