<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include("partials/head") %>

</head>
<body class="body-error">
    <div class="h1-error">
<h1>404</h1>
    </div>
    <div class="h2-error">
<h2>Sorry, page not found</h2>
    </div>
</body>
</html>