<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/icon.png">
</head>
<body class="body-error">

    <div class="div-h1-error">
        <h1>Error 404</h1>
    </div>
    <div class="div-h2-error">
        <h2>Lo sentimos, la pagina ingresada no existe.</h1>
    </div>

    <div class="volver-error">
        <h4><a href="/">Volver al menú principal</a></h4>
    </div>
    
</body>
</html>