<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>

  <body>
    <!-- LAUTARO Y PABLO -->
    <%- include("partials/header")%>

    <main class="main-favorito">
      <div class="h2-div-favoritos">
        <h2 class="h2-favoritos">FAVORITOS</h2>
      </div>

      <section>
        <div class="fav-container-products">
          <div class="container-products">
                <% fav.forEach(product=>{%> 
                <%- include("products/productCard.ejs",{product}) %> 
                <% }) %>
          </div>
        </div>
        <div class="fav-buton-clear">
          <form action="/favorites/favorites/clear/" method="post">
            <button class="btn limpiar-favorito">Limpiar Favoritos</button>
          </form>
        </div>
      </section>
    </main>

    <!-- AXEL -->
    <%- include("partials/footer")%>
  </body>
</html>
