<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>

  <body class="body-favoritos">
    <!-- LAUTARO Y PABLO -->
    <%- include("partials/header")%>

    <main class="main-favorito"
      <% if (fav.length == 0) { %>
        style="height: 23rem"
      <% } %>
    >
      <div class="h2-div-favoritos">
        <h2 class="h2-favoritos">FAVORITOS</h2>
      </div>
     
      <section>
        <div class="fav-container-products">
          <div class="container-products">
            <% if (fav.length > 0) { %>
              <% fav.forEach(product => { %>
                  <%- include ("products/productCard.ejs",{product}) %> 
              <% }) %>
          <% } else {%>
              <p style="
                  text-align: center;
                  font-weight: bold;
                  font-size: 1.5rem;
                  margin-top: 2rem;
                  padding: 3rem;
                  ">No se agrego ningun producto a favoritos, mira nuestras <a style="color: orange;" href="/products?category=oferts">Ofertas</a>.</p>
          <% } %>
          </div>
        </div>
        <% if (fav.length > 0) { %>
        
          <div class="fav-buton-clear">
            <form action="/favorites/favorites/clear/" method="post">
              <button class="btn limpiar-favorito">Limpiar Favoritos</button>
            </form>
          </div>
        <% } %>
      </section>
    </main>

    <!-- AXEL -->
    <%- include("partials/footer")%>
  </body>
</html>
