<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIGITAL STORE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/icon.png">
</head>

<body>

    <!-- LAUTARO Y PABLO -->
    <%- include("partials/header") %>

        <div class="banner-home">
            <img src="/img/img-home-banner.jpg" alt="imagen publicitaria">
        </div>
        <!-- MELINA Y RUBEN -->
        <main class="p-1 mx-auto">

            <h1 class="categorias-index">Categorias</h1>

            <section class="mx-auto p-1 flex flex-wrap gap justify-center-">
                <!--Carrusel con imagenes en circulo-->
                <article class="w-30 border-index">
                    <a href="">
                        <img src="img/productos/auriculares-redragon.jpg" class="wp-90 ">
                        <h3>Auriculares</h3>
                    </a>

                </article>
                <article class="w-30 border-index">
                    <a href="">
                        <img src="img/productos/memoria-team.jpg" class="wp-90 ">
                    <h3>Memorias RAM</h3>
                    </a>
                    
                </article>
                <article class="w-30 border-index">
                    <a href="">
                         <img src="img/productos/motherasrock.jpg" class="wp-90 ">
                    <h3>MotherBords</h3> 
                    </a>
                  
                </article>
                <article class="w-30 border-index">
                    <a href="">
                         <img src="img\productos\gabinete.png" class="wp-90 ">
                    <h3>Gabinetes</h3>
                    </a>
                   
                </article>
                <article class="w-30 border-index">

                        <a href="">
                             <img src="img\productos\teclado.png" class="wp-90 ">
                    <h3>Teclados</h3>
                        </a>
    
                </article>
            </section>
            <h1 class="margin-bottom categorias-index">Ofertas del mes</h2>
                <section class="section-card p-1 mx-auto flex flex-wrap gap justify-center- center">

                    <!--seccion de card/tarjetas-->
                    <article class="p-1 w-card-30  border-1">
                        <img src="img/productos/auriculareshyperx.jpg" class="wp-80 border-radius-10 margin-auto">
                        <p>$25150</p>
                        <p class="descuento_article">15% off</p>
                        <h4>Auriculares HyperX Cloud Flight Black Wireless</h4>
                    </article>

                    <article class="p-1 w-card-30 border-1">
                        <img src="img/productos/gabinete-asus.jpg" class="wp-80 border-radius-10">
                        <p>$138.200</p>
                        <p class="descuento_article">10% off</p>
                        <h4>Gabinete ASUS ROG STRIX GX601 Helios Evangelion Edition ARGB</h4>
                    </article>

                    <article class="p-1 w-card-30 border-1">
                        <img src="img/productos/memoria-geil.jpg" class="wp-80 border-radius-10">
                        <p>$41500</p>
                        <p class="descuento_article">20% off</p>
                        <h4>Memoria GeiL DDR4 16GB 3000MHz Super Luce RGB Black</h4>
                    </article>

                    <article class="p-1 w-card-30 border-1">
                        <img src="img/productos/motherBord.jpg" class="wp-80 border-radius-10">
                        <p>$95300</p>
                        <p class="descuento_article">15% off</p>
                        <h4>Mother ASUS ROG STRIX B550-XE Gaming Wifi AM4</h4>
                    </article>

                    <article class="p-1 w-card-30 border-1">
                        <img src="img/productos/teclado.png" class="wp-80 border-radius-10">
                        <p>$16600</p>
                        <p class="descuento_article">10% off</p>
                        <h4>Teclado Mecanico HP HyperX Alloy Origins 60 Switch RED LA</h4>
                    </article>

                    <article class="p-1 w-card-30 border-1">
                        <img src="img/productos/monitorlg.jpg" class="wp-80 border-radius-10">
                        <p>$38700</p>
                        <p class="descuento_article">10% off</p>
                        <h4>Monitor LG Leg 19' 19M38A-B VGA</h4>
                    </article>

                    <article class="p-1 w-card-30 border-1">
                        <img src="img/productos/coolermax.jpg" class="wp-80 border-radius-10">
                        <p>$16400</p>
                        <p class="descuento_article">15% off</p>
                        <h4>Cooler CPU Master Hyper 212 ARGB</h4>
                    </article>

                    <article class="p-1 w-card-30 border-1">
                        <img src="img/productos/tablet2.jpg" class="wp-80 border-radius-10">
                        <p>$72960</p>
                        <p class="descuento_article">15% off</p>
                        <h4>Tablet Sansung Galaxy tabA8 wifi Dark Grey SM-X200N</h4>
                    </article>


                </section>

        </main>


        <!-- AXEL -->
        <%- include("partials/footer") %>

            <!-- SCRIPTS -->
            <script src="/script/index.js"></script>
            <script src="https://kit.fontawesome.com/1c41280639.js" crossorigin="anonymous"></script>
</body>

</html>