<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIGITAL STORE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

    <!-- LAUTARO Y PABLO -->
    <%- include("partials/header") %>

        <div class="banner-home">
            <a href="https://api.whatsapp.com/send?phone=+5401164899142&text=Hola, Necesito mas información sobre la publicidad!">
              <img src="/img/anuncios/anuncie-aqui1.webp" alt="imagen publicitaria" class="banner-home">  
            </a>
            
        </div>
        <!-- MELINA Y RUBEN -->
        <main class="p-1 mx-auto">
            <section>
                <%- include('partials/carruselUno')%>
            </section>

            <h1 class="categorias-index">Categorias</h1>

            <section class="mx-auto p-1 flex flex-wrap gap justify-center-">
                <!--Carrusel con imagenes en circulo-->
                <article class="w-30 border-index">
                    <a href="">
                        <img src="img/productos/auriculares-redragon.jpg" class="wp-90 ">
                        <h3>Auriculares</h3>
                    </a>

                </article>
                <article class="w-30 border-index">
                    <a href="">
                        <img src="img/productos/memoria-team.jpg" class="wp-90 ">
                    <h3>Memorias RAM</h3>
                    </a>
                    
                </article>
                <article class="w-30 border-index">
                    <a href="">
                         <img src="img/productos/motherasrock.jpg" class="wp-90 ">
                    <h3>MotherBords</h3> 
                    </a>
                  
                </article>
                <article class="w-30 border-index">
                    <a href="">
                         <img src="img\productos\gabinete.png" class="wp-90 ">
                    <h3>Gabinetes</h3>
                    </a>
                   
                </article>
                <article class="w-30 border-index">

                        <a href="">
                             <img src="img\productos\teclado.png" class="wp-90 ">
                    <h3>Teclados</h3>
                        </a>
    
                </article>
            </section>
            <h1 class="margin-bottom categorias-index">Ofertas del mes</h2>
                <section class="section-card p-1 mx-auto flex flex-wrap gap justify-center- center">

                    <%- include ("partials/ofertaProductos.ejs") %> 
                    
                </section>

        </main>


        <!-- AXEL -->
        <%- include("partials/footer") %>

            <!-- SCRIPTS -->
            <script src="/script/index.js"></script>
            <script src="https://kit.fontawesome.com/1c41280639.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>