<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("partials/head") %>

</head>

<body>

    <!-- LAUTARO Y PABLO -->
    <%- include("partials/header")%>

    <!--MAIN-->

    <main class="main-listado">
        <section class="container-categories">
            <div class="desplegable">
                <h3 style="text-align: center;width: 100%;">Filtrar productos</h3>
                <i class="fa-solid fa-sort-down"></i>
            </div>
            <form action="/products" id="categorias-form" enctype="application/x-www-form-urlencoded" method="post">
                <div class="ofert-container">
                    <p>Oferta<i class="fa-solid fa-tag"></i></p>
                    <label class="switch">
                        <input type="checkbox" name="off">
                        <span class="slider round"></span>
                    </label>
                    
                </div>
                <div class="filters">
                    <h3>Categorias</h3>
                    <div class="filters-container">
                        <label><input type="checkbox" value="auriculares" name="auriculares"> Auriculares</label>
                        <label><input type="checkbox"  value="teclados" name="teclados"> Teclados</label>
                        <label><input type="checkbox" value="monitores" name="monitores"> Monitores</label>
                        <label><input type="checkbox" value="gabinetes" name="gabinetes"> Gabinetes</label>
                        <label><input type="checkbox" value="memorias" name="memorias"> Memorias</label>
                        <label><input type="checkbox" value="motherboard" name="motherboard"> Motherboard</label>
                    </div>
                    <input type="submit">
                </div>
            </form>
        </section>
        <section class="container-products">
            <% productos.forEach(product => { %>
                <%- include ("products/productCard.ejs",{product}) %> 
            <% }) %>
        </section>
    </main>

    <!-- AXEL -->
    <%- include("partials/footer")%>
    
   
</body>
    
</html>