<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIGITAL STORE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/icon.png">
</head>


<body>
    <%- include("partials/header") %>
    <!-- LAUTARO Y PABLO -->
    <main class="main-login">
        <div class="contenedor">
           

        
      
            <form action="/" class="form-login">

                <label for="" class="w-60">Usuario</label>
                <input type="text" class="w-60" placeholder="Ingrese usuario o e-mail">
                <label for="" class="w-60">Contraseña</label>
                <input type="password" class="w-60" placeholder="Ingrese su contraseña">

                <a href="" class="w-100  "><input type="submit" class="boton-enviar"></a>
                <a href="/register"><p>Todavia no sos usuario?. Registrate aca!</p></a>

            </form>
    </main>

    <!-- AXEL -->
   <%- include("partials/footer")%>

    <!-- SCRIPTS -->
    <script src="/script/index.js"></script>
    <script src="https://kit.fontawesome.com/1c41280639.js" crossorigin="anonymous"></script>

</body>

</html>