<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("partials/head") %>

</head>


<body class="body-login">
    <%- include("partials/header") %>
    <!-- LAUTARO Y PABLO -->
    <main class="main-login">
        <div class="contenedor">
           

        
      
            <form action="/" class="form-login">

                <label for="" class="label-login">Usuario</label>
                <input type="text" class="input-login" placeholder="Ingrese usuario o e-mail">
                <label for="" class="label-login">Contraseña</label>
                <input type="password" class="input-login" placeholder="Ingrese su contraseña">

                <a href="" class="w-100  "><input type="submit" class="boton-enviar-login"></a>
                <a href="/register" class="registrate-login"><p>Todavia no sos usuario? <p class="rojo-login">Registrate aca!</p> </p></a>

            </form>
    </main>

    <!-- AXEL -->
   <%- include("partials/footerPaginaCorta")%>

   
</body>

</html>