<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("partials/head") %>

</head>


<body class="body-login">
    <%- include("partials/header") %>
    <!-- LAUTARO Y PABLO -->
    <main class="main-login">
        <div class="contenedor">
           

        
      
            <form action="/" class="form-login">

                <label for="" class="w-60">Usuario</label>
                <input type="text" class="w-60" placeholder="Ingrese usuario o e-mail">
                <label for="" class="w-60">Contraseña</label>
                <input type="password" class="w-60" placeholder="Ingrese su contraseña">

                <a href="" class="w-100  "><input type="submit" class="boton-enviar"></a>
                <a href="/register"><p>Todavia no sos usuario?. Registrate aca!</p></a>

            </form>
    </main>

    <!-- AXEL -->
   <%- include("partials/footerPaginaCorta")%>

   
</body>

</html>