<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("partials/head") %>

</head>

<body>
    <%- include("partials/header")%>
    
    <main class="section-card p-1 mx-auto flex flex-wrap gap justify-center center bg-grey">
        <% ofertProducts.forEach(product => { %>
            <%- include("products/productCard",{product})  %> 
        <% }) %>
    </main>

    
</body>

</html>