<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <%- include("partials/header") %>
        <main class="main-panel">

            <h1>PROFILE</h1>


           


        </main>
        <%- include("partials/footer") %>
</body>

</html>