<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("partials/head") %>

</head>

<body class="body-login">
    <!-- LAUTARO Y PABLO -->
    <%- include("partials/header") %>
        <!-- LAUTARO Y PABLO -->
        <main class="main-login">
            <div class="contenedor">


            <form action="/users/add" class="form-login" method="post" >

                <label for="" class="w-60">Nombre</label>
                <input type="text" class="w-60" name="nombre" placeholder="Ingrese su nombre. Ej: Juan">
                <label for="" class="w-60">Apellido</label>
                <input type="text" class="w-60" name="apellido" placeholder="Ingrese su apellido. Ej: Lopez">
                <label for="" class="w-60">Usuario</label>
                <input type="text" class="w-60" name="usuario" placeholder="Ingrese un nombre de usuario">
                <label for="" class="w-60">Contraseña</label>
                <input type="password" class="w-60" name="contraseña" placeholder="Ingrese una contraseña">
                <label for="" class="w-60">Confirmar contraseña</label>
                <input type="password" class="w-60" placeholder="Confirme la contraseña ingresada anteriormente">
                <label for="" class="w-60">Email</label>
                <input type="email" class="w-60" name="email" placeholder="Ingrese su e-mail. Ej: usuario@usuario.com">

                <a href="" class="w-100"><input type="submit" class="boton-enviar"></a>
                
                <a href="" class="w-100"><input type="reset" value="Limpiar datos" class="boton-enviar"></a>


            </form>
    </main>

    <!-- AXEL -->
   <%- include("partials/footer")%>
   

</body>

</html>