<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("partials/head") %>

</head>
<body class="">
    <header>
        <%-include("partials/header") %> 
    </header>
    <main class="section-card p-1 mx-auto flex flex-wrap gap justify-center bg-grey">
        <%-include("partials/teclado") %> 
    </main>
    <footer>
        <%-include ("partials/footer") %> 
    </footer>


         
</body>
</html>