.contenedor-User{
    background-color: white;
    text-align: center;
    box-shadow: 0 0 10px rgb(139, 139, 138);
    border-radius: 2rem;
    padding: 1rem;
width: 100%;
min-height: 400px;
display: block;
}

.contenedor-User img{
width: 100%;
height: 150px;
object-fit: contain;
}
.contenedor-User h3{
    font-size: xx-large;
    color: orange;
    border-bottom: 2px solid grey;
    padding-bottom: 1rem;
    
}
.nombre-user{
    font-size: x-large;
    font-weight: bold;
    color: black;
    padding: 0.5rem;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(158, 157, 157);
}

.nombre-user p{
    font-size: x-large;
    color: orange;
    
}
.email-user{
    font-size: x-large;
    font-weight: bold;
    color: black;
    padding: 0.5rem;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgb(158, 157, 157);
}
.email-user p{
    font-size: x-large;
    color: orange;
    
}

@media (min-width: 768px){
    .contenedor-User{
        background-color: white;
        text-align: center;
        box-shadow: 0 0 10px rgb(139, 139, 138);
        border-radius: 2rem;
        padding: 1rem;
    width: 80%;
    min-height: 400px;
    }
    
    .contenedor-User img{
    width: 60%;
    height: 150px;
    margin: 20px;
    }
    .contenedor-User h3{
        font-size: x-large;
        color: orange;
        border-bottom: 2px solid grey;
        padding-bottom: 0.5rem;
    }
    .contenedor-User h3{
        font-size: xx-large;
        color: orange;
        border-bottom: 2px solid grey;
        padding-bottom: 1rem;
    }
    .nombre-user{
        font-size: large;
        font-weight: bold;
        color: black;
        padding: 0;
    }
    .nombre-user p{
        font-size: x-large;
        color: orange;
        
    }
    .email-user{
        font-size: large;
        font-weight: bold;
        color: black;
        padding: 0;
    }
    .email-user p{
        font-size: x-large;
        color: orange;
        
    }
 
   
}