.sidebar {
    width: 14rem;
    height: 100vh;
    background-color: lightgray;
    border-right: 1px solid gray;
    position: sticky;
    left: 0;
    top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 1rem ;
}

.sidebar li {
    margin-bottom: 1rem;
}

.sidebar a {
    text-decoration: none;
}
