<article class=" p-1 contenedor-carrito">
    <img src="/img/productos/<%=product.img%>" class="img-carrito">
    <h4><%=product.nombre%></h4>
    <p>$<%=product.precio%></p>
    <div class="div-sumatoria">
        <input type="button" id="btnRestar" value="-1">
        <p id="msgContador">1</p>
        <input type="button" id="btnSumar" value="+1">
    </div>
</article>