
<% allProducts.forEach(product => { %>
    
    <article class="item-producto">
        <img src="img/productos/<%= product.img %> " class="wp-80 border-radius-10">
        <% if (product.oferta) { %>
            <p class="descuento_article"><%= product.descuento %>%OFF</p>
        <% } %>
        <p>$<%= product.precio %></p>
        <h4><%= product.nombre %></h4>
    </article>
     
<% }) %>