<div class="slide">
    <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1" name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="/img/anuncios/ryzen.jpg" class="img-carrusel">
        </div>
        <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="/img/productos/coolercpu.jpg" class="img-carrusel">
        </div>
        <input class="slide-open" type="radio" id="slide-3" name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="/img/productos/memoria-team.jpg" class="img-carrusel">
        </div>

        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-3" class="slide-circulo">•</label>
            </li>
        </ol>
    </div>
</div>

