<footer class="footer-principal-corto w-100">
       
    <div class="caja-footer">
        <h3>¿QUIENES SOMOS?</h3>
        <p>Digital Store se encarga de la venta de hardware y armado de PCs</p>
    </div>


    <div class="caja-footer">
        <h3>AYUDA</h3>
        <p>Si queres hacernos comentarios o sugerencias.</p>
        <button class="btn-contactanos"><a href="/contacto">Contactanos</button></a>
    </div>
  
    <div class="iconos">
        <h5>Redes Sociales</h5>
        <div>
            <div class="contenedor-links">
                <a href="www.facebok.com/digitalstore"><i class=" facebook fa-brands fa-facebook"></i></a>
            </div>
            <div class="contenedor-links">
                <a href="www.twitter.com/digitalstore"><i class="twitter fa-brands fa-twitter"></i> </a>
            </div>
            <div class="contenedor-links">
                <a href="www.instagram.com/digitalstore"> <i class="instagram fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>

</footer>