<footer class="footer-principal w-100">

    <div class="caja-footer">
        <a href="/" class="logo-footer"><img class="img-footer" src="/img/logo1.png"></img></a>
    </div>


    <div class="caja-footer-botones">
        <button class="btn-contactanos"><a href="/ayuda">Ayuda</button></a>
        <button class="btn-contactanos"><a href="/contacto">Contactanos</button></a>
        <button class="btn-contactanos"><a href="/register">Registrate</button></a>
    </div>


    <div class="iconos">
        <div class="contenedor-links">
            <a href="//www.facebok.com/digitalstore"><i class=" facebook fa-brands fa-facebook"></i></a>
        </div>
        <div class="contenedor-links">
            <a href="//www.twitter.com/digitalstore"><i class="twitter fa-brands fa-twitter"></i> </a>
        </div>
        <div class="contenedor-links">
            <a href="//www.instagram.com/digitalstore"> <i class="instagram fa-brands fa-instagram"></i></a>
        </div>
    </div>

    <p class="copyright">2023 All Rights Reserved®</p>

</footer>