<header class="header-partial">

    <div class="nav-primary">
        <a href="/" class="nav-img"><img class="nav-img" src="/img/logo.png"></img></a>
        <form action="/products" class="serch-bar" method="get">
            <input type="search" placeholder="Buscar productos" name="search" autocomplete="none">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <div class="nav-buttons" id="nav-buttons-laptop">

            <!-- si estoy logueado  -->
            <% if (locals.isLogged) { %>

                <!-- <button class="btn-login"><a href="/users/logout"><i class="fa-solid fa-right-to-bracket"></i> -->
                <!-- Salir</a></button> -->


                <button class="boton-off"><a href="/users/logout"><i class="fa-solid fa-power-off"></i>
                    Cerrar sesi칩n</a></button>


                <% } else { %>

                    <!-- si no estoy logueado solo muestro boton de login -->
                    <button class="btn-login"><a href="/users/login"><i class="fa-solid fa-power-off"></i>
                            Ingres치</a></button>

                    <% } %>

        </div>
    </div>

    <nav class="nav-principal">
        <div class="nav-div" id="menu-button">
            <i class="fa-solid fa-bars"></i>

        </div>


        <div class="nav-links show">
            <ul class="nav-ul">
                <li class="nav-li"><a href="/products">Productos</a></li>
                <li class="nav-li"><a href="/oferta">Ofertas</a></li>
                <li class="nav-li"><a href="/ayuda">Ayuda</a></li>
                <li class="nav-li"><a href="/contacto">Contacto</a></li>
                <% if (locals.userLogged && locals.userLogged.idRole==1) { %>

                    <li class="nav-li login-tablet"> <a href="/users/panel">Panel de control</a> </li>

                    <% } %>
                        <% if (!locals.isLogged) { %>
                            <li class="nav-li login-tablet"><a href="/users/login"><i
                                        class="fa-solid fa-right-from-bracket"></i> Ingres치</a></li>
                            <% } else { %>
                                <li class="nav-li login-tablet"><a href="/users/logout"><i
                                            class="fa-solid fa-user "></i> Cerrar Sesi칩n</a></li>
                                <% } %>
            </ul>
        </div>
    </nav>

    <script src="/script/header.js"></script>

</header>