<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title><%= locals.title ? title : "Digital Store" %></title><!--esta linea sirve para verificar si esta la variable title y sino pongo un titulo por defecto-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/index.css">
<link rel="shortcut icon" href="/img/icon.png">

<!-- SCRIPS > se ponen en el head con defer para no hacer dos partials y que aparezcan en el head y no en el body-->

<script defer src="/script/index.js"></script>
<script defer src="/script/header.js"></script>
<script src="https://kit.fontawesome.com/1c41280639.js" crossorigin="anonymous"></script>

