<header class="header-partial">
        
    <div class="nav-primary">
      <a href="/" class="nav-img"><img class="nav-img" src="/img/logo.png"></img></a>
        <div class="serch-bar">
            <input type="text" placeholder="Buscar productos y más..">
            <label><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></label>
        </div>
        <div class="nav-buttons" id="nav-buttons-laptop">

           <!-- si estoy logueado solo muestro boton de carrito y salir -->
           <% if (locals.isLogged) { %>
             
            <button class="btn-tienda"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></button>
            <button class="btn-login"><a href= "/users/logout"><i class="fa-solid fa-right-to-bracket"></i> Salir</a></button>

           Hola <%= locals.userLogged.name + ' ' + locals.userLogged.last_name %>

        <img class="nav-img" src="/img/usuarios/<%= locals.userLogged.avatar %> ">

        

            
            
          

            <% } else { %>

            <!-- si no estoy logueado solo muestro boton de login -->
            <button class="btn-login"><a href="/users/login"><i class="fa-solid fa-user"></i> Ingresá</a></button>

            <% } %>

        </div>
    </div>

    <nav class="nav-principal">
        <div class="nav-div" id="menu-button">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="nav-links show">   
            <ul class="nav-ul">
                <li class="nav-li"><a href="/products">Productos</a></li>
                <li class="nav-li"><a href="/oferta">Ofertas</a></li>
                <li class="nav-li"><a href="/ayuda">Ayuda</a></li>
                <li class="nav-li"><a href="/contacto">Contacto</a></li>
            </ul>
            <div class="nav-buttons" id="nav-buttons-phone">
                <button class="btn-login"><a href="/login"><i class="fa-solid fa-user"></i> Login</a></button>
                <button class="btn-tienda"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></button>
            </div>
        </div>
        
        
    </nav>

</header>