<header>
        
    <div class="nav-primary">
      <a href="/" class="nav-img"><img src="/img/logo.png"></img></a>
        <div class="serch-bar">
            <input type="text" placeholder="Buscar productos y más..">
            <label><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></label>
        </div>
        <div class="nav-buttons" id="nav-buttons-laptop">
            <button class="btn-login"><a href="/login"><i class="fa-solid fa-user"></i> Ingresá</a></button>
            <button class="btn-tienda"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></button>
        </div>
    </div>

    <nav class="nav-principal">
        <div class="nav-div" id="menu-button">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="nav-links show">   
            <ul class="nav-ul">
                <li class="nav-li"><a href="/products">Productos</a></li>
                <li class="nav-li"><a href="/products/add">Ofertas</a></li>
                <li class="nav-li"><a href="/ayuda">Ayuda</a></li>
                <li class="nav-li"><a href="/contacto">Contacto</a></li>
            </ul>
            <div class="nav-buttons" id="nav-buttons-phone">
                <button class="btn-login"><a href="/login"><i class="fa-solid fa-user"></i> Login</a></button>
                <button class="btn-tienda"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></button>
            </div>
        </div>
        
        
    </nav>

</header>