<header class="header-partial">

    <div class="nav-primary">
        <a href="/" class="nav-img"><img class="nav-img" src="/img/logo.png"></img></a>
        <form action="/products" class="serch-bar" method="get">
            <input type="search" placeholder="Buscar productos" name="search" autocomplete="none">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <div class="nav-buttons" id="nav-buttons-laptop">

            <!-- si estoy logueado  -->
            <% if (locals.isLogged) { %>

                <!-- <button class="btn-login"><a href="/users/logout"><i class="fa-solid fa-right-to-bracket"></i> -->
                <!-- Salir</a></button> -->


                <button class="btn-login boton-off"><a href="/users/logout"><i class="fa-solid fa-power-off"></i>
                    Cerrar sesi칩n</a></button>

                










                <% } else { %>

                    <!-- si no estoy logueado solo muestro boton de login -->
                    <button class="btn-login"><a href="/users/login"><i class="fa-solid fa-user"></i>
                            Ingres치</a></button>

                    <% } %>

        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
          </div>
        </div>
      </nav>


    <!-- <nav class="nav-principal">
        <div class="nav-div" id="menu-button">
            <i class="fa-solid fa-bars"></i>

        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
          </nav>

        <div class="nav-links show">
            <ul class="nav-ul">
                <li class="nav-li"><a href="/products">Productos</a></li>
                <li class="nav-li"><a href="/oferta">Ofertas</a></li>
                <li class="nav-li"><a href="/ayuda">Ayuda</a></li>
                <li class="nav-li"><a href="/contacto">Contacto</a></li>
                <% if (locals.userLogged && locals.userLogged.idRole==1) { %>

                    <li class="nav-li login-tablet"> <a href="/users/panel">Panel de control</a> </li>

                    <% } %>
                        <% if (!locals.isLogged) { %>
                            <li class="nav-li login-tablet"><a href="/users/login"><i class="fa-solid fa-right-from-bracket"></i> Ingres치</a></li>
                        <% } else { %>
                            <li class="nav-li login-tablet"><a href="/users/logout"><i class="fa-solid fa-user "></i> Cerrar Sesi칩n</a></li>
                    <% } %>
            </ul>
        </div>
    </nav> -->
    <script src="/script/header.js"></script>
</header>