<header class="header-partial">

    <div class="nav-primary">
        <a href="/" class="nav-img"><img class="nav-img" src="/img/logo.png"></img></a>
        <div class="serch-bar">
            <input type="text" placeholder="Buscar productos y m치s..">
            <label><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></label>
        </div>
        <div class="nav-buttons" id="nav-buttons-laptop">

            <!-- si estoy logueado  -->
            <% if (locals.isLogged) { %>

                <!-- <button class="btn-login"><a href="/users/logout"><i class="fa-solid fa-right-to-bracket"></i> -->
                <!-- Salir</a></button> -->


                <div class="usuarioHeader">
                    <a href="/users/profile" class="usuario-header">
                        <div class="nombre-header">
                            <%=locals.userLogged.userName %>
                        </div>

                        <img class="img-user" src="/img/usuarios/<%= locals.userLogged.img %> ">
                    </a>


                </div>

                <div class="div-desplegable-header">

                    <div class="contenedorUsuarioHeader">
                        <div class="imganduser">
                            <a href="/users/profile"><img class="imgHeader"
                                    src="/img/usuarios/<%= locals.userLogged.img %> "></a>
                            <div class="nombreHeader">
                                <%=locals.userLogged.userName %>
                                   
                            </div>



                        </div>


                        <div class="divDetalle">

                            <button class="btn-tienda">
                                <a href="/carrito" >
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </button>


                            <h3> <a href="">Mis compras</a> </h3>
                            <h3> <a href="">Favoritos</a> </h3>
                            <h3> <a href="">Cambiar contrase침a</a> </h3>
                            <h3 class="h3Cerrar"> <a href="/users/logout">Cerrar sesi칩n</a> </h3>
                        </div>

                    </div>




                </div>










                <% } else { %>

                    <!-- si no estoy logueado solo muestro boton de login -->
                    <button class="btn-login"><a href="/users/login"><i class="fa-solid fa-user"></i>
                            Ingres치</a></button>

                    <% } %>

        </div>
    </div>

    <nav class="nav-principal">
        <div class="nav-div" id="menu-button">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="nav-links show">
            <ul class="nav-ul">
                <li class="nav-li"><a href="/products">Productos</a></li>
                <li class="nav-li"><a href="/oferta">Ofertas</a></li>
                <li class="nav-li"><a href="/ayuda">Ayuda</a></li>
                <li class="nav-li"><a href="/contacto">Contacto</a></li>
            </ul>
            <div class="nav-buttons" id="nav-buttons-phone">
                <button class="btn-login"><a href="/login"><i class="fa-solid fa-user"></i> Login</a></button>
                <button class="btn-tienda"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></button>
            </div>
        </div>


    </nav>


    <script src="/script/header.js"></script>

</header>