<header class="header-partial">

    <div class="nav-primary">
        <a href="/" class="nav-img"><img class="nav-img" src="/img/logo.png"></img></a>
        <form action="/products" class="serch-bar" method="get">
            <input type="search" placeholder="Buscar productos" name="search" autocomplete="none">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <div class="nav-buttons" id="nav-buttons-laptop">

            <!-- si estoy logueado  -->
            <% if (locals.isLogged) { %>

                <!-- <button class="btn-login"><a href="/users/logout"><i class="fa-solid fa-right-to-bracket"></i> -->
                <!-- Salir</a></button> -->


                <div class="usuarioHeader">
                    <a href="/users/profile" class="usuario-header">
                        <div class="nombre-header">
                            <%=locals.userLogged.userName %>
                        </div>

                        <img class="img-user" src="/img/usuarios/<%= locals.userLogged.img %> ">
                    </a>


                </div>

                <div class="div-desplegable-header">

                    <div class="contenedorUsuarioHeader">
                        <div class="imganduser">
                            <a href="/users/profile"><img class="imgHeader"
                                    src="/img/usuarios/<%= locals.userLogged.img %> "></a>
                            <div class="nombreHeader">
                                <%=locals.userLogged.userName %>

                            </div>



                        </div>


                        <div class="divDetalle">

                            <button class="btn-tienda">
                                <a href="/carrito">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </button>

                            <h3> <a href="">Mis compras</a> </h3>
                            <h3> <a href="/favorites">Favoritos</a> </h3>
                            <h3> <a href="">Cambiar contraseña</a> </h3>
                            <% if (locals.userLogged.idRole == 1) { %>
                            
                                <h3> <a href="http://localhost:3001/">Panel de usuarios</a> </h3>

                            <% } %>
                            <h3 class="h3Cerrar"> <a href="/users/logout">Cerrar sesión</a> </h3>
                        </div>

                    </div>




                </div>










                <% } else { %>

                    <!-- si no estoy logueado solo muestro boton de login -->
                    <button class="btn-login"><a href="/users/login"><i class="fa-solid fa-user"></i>
                            Ingresá</a></button>

                    <% } %>

        </div>
    </div>

    <nav class="nav-principal">
        <div class="nav-div" id="menu-button">
            <i class="fa-solid fa-bars"></i>
           
        </div>


        <div class="nav-links show">
            <ul class="nav-ul">
                <li class="nav-li"><a href="/products">Productos</a></li>
                <li class="nav-li"><a href="/oferta">Ofertas</a></li>
                <li class="nav-li"><a href="/ayuda">Ayuda</a></li>
                <li class="nav-li"><a href="/contacto">Contacto</a></li>
                <% if (locals.userLogged && locals.userLogged.idRole == 1) { %>
                            
                    <li class="nav-li login-tablet"> <a href="http://localhost:3001/">Panel de control</a> </li>

                <% } %>
                <% if (!locals.isLogged) { %>
                    <li class="nav-li login-tablet"><a href="/users/login"><i class="fa-solid fa-right-from-bracket"></i> Ingresá</a></li>
                <% } else { %>
                    <li class="nav-li login-tablet"><a href="/users/logout"><i class="fa-solid fa-user "></i> Cerrar Sesión</a></li>   
                <% } %>
            </ul>
        </div>
    </nav>
    
    <script src="/script/header.js"></script>

</header>