<header class="header-partial">

    <div class="nav-primary">
        
        
        <div class="nav-buttons" id="nav-buttons-laptop">

            <!-- si estoy logueado  -->
            <% if (locals.isLogged) { %>
                <!-- <button class="btn-login"><a href="/users/logout"><i class="fa-solid fa-right-to-bracket"></i> -->
                <!-- Salir</a></button> -->

                <a class="btn-login" href="/users/logout"><i class="fa-solid fa-power-off"></i> Cerrar Sesion</a>

            <% } else { %>

                <!-- si no estoy logueado solo muestro boton de login -->
                <a class="btn-login"  href="/users/login"><i class="fa-solid fa-power-off"></i> Iniciar Sesión</a>

            <% } %>

        </div>
        <a href="/" class="nav-img"><img class="nav-img" src="/img/logo.png"></img></a>
        <div class="nav-div" id="menu-button">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>

    <nav class="nav-principal">
        

        <div class="nav-links show">
            <ul class="nav-ul">
                <li class="nav-li"><a href="/">Inicio</a></li>
                <li class="nav-li"><a href="/products">Productos</a></li>
                <li class="nav-li"><a href="/oferta">Ofertas</a></li>
                <li class="nav-li"><a href="/ayuda">Ayuda</a></li>
                <li class="nav-li"><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>

    <script src="/script/header.js"></script>

</header>