<header class="header-partial">

   <nav class="nav-container" >

        <a href="/" class="nav-img"><img class="nav-img" src="/img/logo.png"></img></a>

        
        <section class="search-bar-container">
            <form action="/products" enctype="application/x-www-form-urlencoded" method="post" class="search-bar">
                <input type="search" name="search" id="search" autocomplete="off" placeholder="Buscar producto...">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
       </section>
       <div class="nav-buttons">
            <div class="nav-buttons" id="nav-buttons-laptop">

                <!-- si estoy logueado  -->
                <% if (locals.isLogged) { %>

                    <!-- <button class="btn-login"><a href="/users/logout"><i class="fa-solid fa-right-to-bracket"></i> -->
                    <!-- Salir</a></button> -->

                    <a class="btn-login" href="/users/logout">Cerrar Sesion <i class="fa-solid fa-power-off"></i></a>

                <% } else { %>
                    <!-- si no estoy logueado solo muestro boton de login -->
                    <a class="btn-login"  href="/users/login">Iniciar Sesión <i class="fa-solid fa-power-off"></i></a>
                <% } %>
            </div>
            <div class="phone-icon-menu"><i class="fa-solid fa-bars"></i></div>
        </div>
        
   </nav>
   
   <section>
        <ul class="nav-ul">
            <li class="nav-li"><a href="/">Inicio</a></li>
            <li class="nav-li"><a href="/products">Productos</a></li>
            <li class="nav-li"><a href="/oferta">Ofertas</a></li>
            <li class="nav-li"><a href="/ayuda">Ayuda</a></li>
            <li class="nav-li"><a href="/contacto">Contacto</a></li>
        </ul>
   </section>
   
</header>