<% productsOfert.forEach(product => { %>
    <article class="item-producto" id="product-item">
        <img src="img/productos/<%= product.img %> " class="wp-80 border-radius-10">
        <p>$<%= product.precio %> </p>
        <% if (product.oferta) { %>
            <p class="descuento_article"><%= product.descuento %>% off</p>
        <% } %>
        <h4><%= product.descripcion %></h4>
    </article>
<% }) %>

