<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIGITAL STORE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/icon.png">
</head>

<body>

    <!-- LAUTARO Y PABLO -->
    <header>

        <div class="nav-primary">
            <img class="nav-img" src="/img/logo.png"></img>
            <div class="serch-bar">
                <input type="text" placeholder="Buscar productos y más..">
                <label><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></label>
            </div>
            <div class="nav-buttons" id="nav-buttons-laptop">
                <button class="btn-login"><a href="/login"><i class="fa-solid fa-user"></i> Ingresá</a></button>
                <button class="btn-tienda"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></button>
            </div>
        </div>

        <nav class="nav-principal">
            <div class="nav-div" id="menu-button">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="nav-links show">
                <ul class="nav-ul">
                    <li class="nav-li"><a href="">Productos</a></li>
                    <li class="nav-li"><a href="">Ofertas</a></li>
                    <li class="nav-li"><a href="">Ayuda</a></li>
                    <li class="nav-li"><a href="">Contacto</a></li>
                </ul>
                <div class="nav-buttons" id="nav-buttons-phone">
                    <button class="btn-login"><a href="/login"><i class="fa-solid f a-user"></i> Login</a></button>
                    <button class="btn-tienda"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></button>
                </div>
            </div>


        </nav>

    </header>
<main>
<!--MAIN DE PAGINA DE AYUDA DEL SITIO-->
<div class="ayuda p-1">
    <h1>Preguntas Frecuentes</h1>
    <h3>Realizar un pedido</h3>
    <p>¿Cómo realizo un pedido?
    
    Solo tenés que seleccionar todos los productos que deseas adquirir. Seguidamente, en el carrito de compras, para conocer
    el costo del envío colocás tu código postal en el recuadro correspondiente, elegís la mensajería de tu preferencia y
    debajo seleccionas la forma de pago. Luego hacés clic en el botón COMPRAR y podés acceder como cliente (si ya tenés
    cuenta en Compra Gamer) o crear un cliente nuevo. Por último, completás los pasos brindados por el asistente, hasta
    confirmar la compra. Se te asignará un número de pedido y se mostrarán los datos del mismo. También enviaremos un mail a
    tu correo electrónico registrado con los detalles del pedido realizado.</p>

    <h3>Precio</h3>
    <p>¿El precio que figura en la web es el precio final?
    
    Todos los precios en la web incluyen el IVA, y se encuentran expresados en pesos argentinos.</p>

    <h3>Formas de pago</h3>
    <p>¿Cuáles son las formas de pago?
    
    Contamos con dos formas de pago: a través de depósito/transferencia bancaria, con la cual obtenés el precio especial, o
    bien, a través de los métodos Pago Gamer (Visa o MasterCard) o MercadoPago (Tarjetas online, PagoFácil y RapiPago) con
    los cuales podés abonar en cuotas, al precio de lista.</p>

    <h3>Depósito - Transferencia bancaria</h3>
    <p>¿Cómo abono a través de depósito/transferencia?
    
    Una vez se realiza el pedido, te facilitamos los datos del CBU. Debes abonar e informar el pago desde nuestra web, antes
    de la fecha de vencimiento de la reserva.</p>

    <h3>Pagos</h3>
    <p>Es un método exclusivo de Digital Store para abonar de manera online a través de tarjetas Visa y Mastercard, con el cual
    podés acceder a 3 y 12 cuotas sin interés si empleas una tarjeta de crédito brindada por una entidad bancaria.</p>

    <h3>Mercadopago</h3>
    <p>¿Cómo puedo abonar a través de MercadoPago?
    
    Podés hacerlo de tres formas: Con tarjetas online en cuotas (no se puede acceder a cuotas sin interés); A través de
    RapiPago/ PagoFácil (se abona al precio de lista, pero no se pueden hacer cuotas, sólo se puede abonar en un pago); y
    realizando una transferencia desde tu cuenta de MercadoPago.</p>

    <h3>Envíos</h3>
    <p>¿Cómo gestiono el envío de mi pedido?
    
    En primer lugar, para conocer el costo del envío, una vez al agregues al carrito tu compra, solo debes colocar tu código
    postal en el recuadro correspondiente, seleccionar la mensajería de tu preferencia y elegir si deseas el retiro en
    alguna sucursal o la entrega a domicilio. Actualmente realizamos envíos a todo el país través de Oca y Andreani; y si te
    encontrás en CABA o alrededores, podrás seleccionar el servicio de Mensajería Privada que es exclusivo de Compra Gamer.
    Tené en cuenta que, para calcular el costo del envío, se toman en consideración tanto las dimensiones y peso del paquete
    como la distancia de la localidad de entrega.</p>

    <h3>Facturación</h3>
    <p>¿Cómo tramito la factura de mi compra?
    
    En todas las compras efectuadas en la web, brindamos sin excepción alguna, la factura de compra. Una vez que realiza y
    abona el pedido, enviamos a tu dirección de correo electrónico la factura correspondiente. Por supuesto, también podés
    descargarla desde la sección Mi cuenta < Mis facturas. En caso de que precises factura A, solo debes ingresar tu CUIT al
    cargar el pedido por la web. Tené en cuenta que la factura A puede tener percepciones.</p>


</div>






</main>
    <!--MAIN DE PAGINA DE AYUDA DEL SITIO-->


    <!-- AXEL -->
    <footer class="footer-principal w-100">
    
        <div class="caja-footer">
            <h3>AYUDA</h3>
            <p>Si queres hacernos comentarios o sugerencias.</p>
            <button class="btn-contactanos"><a href="/contacto">Contactanos</button></a>
        </div>
    
        <div class="caja-footer">
            <h3>¿QUIENES SOMOS?</h3>
            <p>Digital Store se encarga de la venta de hardware y armado de PCs</p>
        </div>
    
        <div class="iconos">
            <div class="contenedor-links">
                <i class="fa-brands fa-facebook"></i> </a><a href="www.facebok.com/digitalstore">facebook</a>
            </div>
            <div class="contenedor-links">
                <i class="fa-brands fa-instagram"></i><a href="www.instagram.com/digitalstore">instagram</a>
            </div>
            <div class="contenedor-links">
                <i class="fa-brands fa-twitter"></i><a href="www.twitter.com/digitalstore">twitter</a>
            </div>
        </div>
    
    </footer>
    
    <!-- SCRIPTS -->
    <script src="/script/index.js"></script>
    <script src="https://kit.fontawesome.com/1c41280639.js" crossorigin="anonymous"></script>
    </body>
    
    </html>