<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIGITAL STORE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/icon.png">
</head>

<body>
    <!-- LAUTARO Y PABLO -->
    <header>

        <div class="nav-primary">
            <img class="nav-img" src="/img/logo.png"></img>
            <div class="serch-bar">
                <input type="text" placeholder="Buscar productos y más..">
                <label><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></label>
            </div>
            <div class="nav-buttons" id="nav-buttons-laptop">
                <button class="btn-login"><a href="/"><i class="fa-solid fa-house"></i> Inicio</a></button>
                <button class="btn-tienda"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></button>
            </div>
        </div>

        <nav class="nav-principal">
            <div class="nav-div" id="menu-button">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="nav-links show">
                <ul class="nav-ul">
                    <li class="nav-li"><a href="">Productos</a></li>
                    <li class="nav-li"><a href="">Ofertas</a></li>
                    <li class="nav-li"><a href="">Ayuda</a></li>
                    <li class="nav-li"><a href="">Contacto</a></li>
                </ul>
                <div class="nav-buttons" id="nav-buttons-phone">
                    <button class="btn-login"><a href="/"><i class="fa-solid fa-house"></i> Inicio</a></button>
                    <button class="btn-tienda"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></button>
                </div>
            </div>


        </nav>

    </header>


    <main>
    <!--MAIN DE PAGINA DE CONTACTO-->

    <div>
        <form>
            
        </form>
    </div>


    </main>

    <!-- AXEL -->
    <footer class="footer-principal w-100">
    
        <div class="caja-footer">
            <h3>AYUDA</h3>
            <p>Si queres hacernos comentarios o sugerencias.</p>
            <button class="btn-contactanos"><a href="/contacto">Contactanos</button></a>
        </div>
    
        <div class="caja-footer">
            <h3>¿QUIENES SOMOS?</h3>
            <p>Digital Store se encarga de la venta de hardware y armado de PCs</p>
        </div>
    
        <div class="iconos">
            <div class="contenedor-links">
                <i class="fa-brands fa-facebook"></i> </a><a href="www.facebok.com/digitalstore">facebook</a>
            </div>
            <div class="contenedor-links">
                <i class="fa-brands fa-instagram"></i><a href="www.instagram.com/digitalstore">instagram</a>
            </div>
            <div class="contenedor-links">
                <i class="fa-brands fa-twitter"></i><a href="www.twitter.com/digitalstore">twitter</a>
            </div>
        </div>
    
    </footer>
    
    <!-- SCRIPTS -->
    <script src="/script/index.js"></script>
    <script src="https://kit.fontawesome.com/1c41280639.js" crossorigin="anonymous"></script>
    
    </body>
    
    </html>