<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIGITAL STORE</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/icon.png">
    
</head>

<body>

    <!-- LAUTARO Y PABLO -->
    <header>
        <div class="nav-primary">
            <img src="/img/logo.png"></img>
            <div>
                <input type="text">
                <label><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></label>
            </div>
            <button class="btn-login"><a href="#"><i class="fa-solid fa-user"></i> Login</a></button>
            <button class="btn-tienda"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></button>
        </div>

    </header>


    <!-- MELINA Y RUBEN -->
    <main></main>


    <!-- AXEL -->
    <footer></footer>

    <!-- SCRIPTS -->
    <script src="https://kit.fontawesome.com/1c41280639.js" crossorigin="anonymous"></script>
</body>

</html>