<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Store</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/logo.jpeg">
</head>

<body>

    <!-- LAUTARO Y PABLO -->
    <header>
        <nav>
            <img src="" alt="">
            <div></div>
            <button></button>
        </nav>

        <nav>
            <ul>
                <li>Productos</li>
                <li>Ofertas</li>
                <li>Contacto</li>
            </ul>
        </nav>
    </header>


    <!-- MELINA Y RUBEN -->
    <main></main>


    <!-- AXEL -->
    <footer></footer>
</body>

</html>