<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIGITAL STORE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/icon.png">
</head>

<body>

    <!-- LAUTARO Y PABLO -->
    <header>
        
        <div class="nav-primary">
            <img class="nav-img" src="/img/logo.png"></img>
            <div class="serch-bar">
                <input type="text">
                <label><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></label>
            </div>
            <button class="btn-login"><a href="#"><i class="fa-solid fa-user"></i> Login</a></button>
            <button class="btn-tienda"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></button>
        </div>

        <nav>
            <ul>
                <li>Productos</li>
                <li>Ofertas</li>
                <li>Ayuda</li>
                <li>Contacto</li>
            </ul>
        </nav>

    </header>


    <!-- MELINA Y RUBEN -->
    <main></main>


    <!-- AXEL -->
    <footer></footer>

    <!-- SCRIPTS -->
    <script src="https://kit.fontawesome.com/1c41280639.js" crossorigin="anonymous"></script>
</body>

</html>