.navBar-ayuda{
   display: none;
}

.section-ayuda {
   text-align: center;
   margin-top: 5%;
  
}
.section-ayuda h3 {
   font-size: 40px;
   margin-bottom: 3%;
}
.article-ayuda{
   border: 2px solid gainsboro;
   margin: 5% auto;
   padding: 2%;
   border-radius: 20px;
   background-color: white;
   width: 70%;
   box-shadow: 0px 0px 10px var(--negro);


}




@media (min-width: 768px){

   html{
      scroll-behavior: smooth;
   }


   .h1-ayuda{
      text-align: center;
      margin-top: 2%;
   }

   .section-ayuda {
      text-align: center;
      margin-top: 5%;
     
   }
   .section-ayuda h3 {
      font-size: 40px;
      margin-bottom: 3%;
   }
   .article-ayuda{
      border: 2px solid gainsboro;
      margin: 5% auto;
      padding: 2%;
      border-radius: 20px;
      background-color: white;
      width: 70%;
      box-shadow: 0px 0px 10px var(--negro);


   }
   .navBar-ayuda{
      display: block;
      background-color: white;
      width: 100%;
      
      
   }
   .ul-ayuda a{
      color: black;
      
      
   }
   .ul-ayuda a {
      border-bottom: 2px solid var(--naranja);
      padding: 2%;
      cursor: pointer;
      border-radius: 20px 20px 0 0;
   }
   .ul-ayuda a:hover {
      border-bottom: 2px solid var(--negro);
      background-color: var(--naranja);
      

   }
   .ul-ayuda a:hover {
     color: white;
      

   }

}






@media (min-width: 1024px){

   html{
      scroll-behavior: smooth;
   }


   

   .section-ayuda {
      text-align: center;
      margin-top: 5%;
     
   }
   .section-ayuda h3 {
      font-size: 40px;
      margin-bottom: 3%;
   }
   .article-ayuda{
      border: 2px solid gainsboro;
      margin: 5% auto;
      padding: 2%;
      border-radius: 20px;
      background-color: white;
      width: 70%;
      box-shadow: 0px 0px 10px var(--negro);


   }
   .navBar-ayuda{
      display: block;
      background-color: white;
      width: 100%;
      
      
   }
   .ul-ayuda a{
      color: black;
      
      
   }
   .ul-ayuda a {
      border-bottom: 2px solid var(--naranja);
      padding: 2%;
      cursor: pointer;
      border-radius: 20px 20px 0 0;
   }
   .ul-ayuda a:hover {
      border-bottom: 2px solid var(--negro);
      background-color: var(--naranja);
      

   }
   .ul-ayuda a:hover {
     color: white;
      

   }

}
