.div-ayuda{
    
    text-align: center;
    margin-top: 2%;

    
}
.div-details-ayuda{
    margin: 20px auto;
    width: 80%;
    
}
.div-details-ayuda h3{
   font-size: x-large;
}
.div-details-ayuda details{
   font-size: large;
   cursor: pointer;
}
.div-details-ayuda details[open] summary::before{
   content: '-';
   margin-right: 5px;
}
.div-details-ayuda summary{
   margin-bottom: 20px;
   list-style: none;
}
.div-details-ayuda summary::before{
  content: '+';
  margin-right: 5px;
}
.div-details-ayuda summary:hover{
  color: var(--naranja);

}
