.main-carrito{
    text-align: center;
}
.section-carrito{
    
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contenedor1-carrito{
width: 100%;
}


.img-carrito{
    width: 100vw;
    height: 40vh;
    padding: 20px;
}
.nombre-producto{
    width: 80%;
    margin: auto;
    color: black;
}
.nombre-producto a{
   
    color: black;
}
.precio-producto{
   font-weight: bold;
   color: var(--naranja);
   font-size: xx-large;
}
.contadores-carrito{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.numeroContador-carrito{
    font-size: 40px;
    margin: 0 30px;
}
.mas-menos{
    background-color: black;
    padding:10px;
    color: white;
    border: 1px solid var(--naranja);

}
.btn-eliminar{
 padding: 5px;
 font-size: 30px;
 border: none;
}
.precio{
    font-size: 40px;
    color: forestgreen;
}

.total{
width: 50%;
margin: 50px auto;
}

.totalyprecio{
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 30px;
}
.naranja{
    color: var(--naranja);
}
.comprar{
    width: 80%;
    background-color: green;
    border: 1px solid var(--naranja);
    border-radius: 10px;
    color: white;
    font-size: 35px;
    margin: 10px 0;
}
.limpiar-carrito{
    background-color: red;
    color: white;
    margin: 10px 0;
    border: 1px solid var(--naranja);
    border-radius: 10px;
    font-size: 30px;
    width: 80%;
}

.contenedor-carrito{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.contenedor-carrito h3{
font-size: 30px;
color: var(--naranja);
}

.radio-carrito{
    width: 100%;
    margin: 10px;
    text-align: center;
}

@media (min-width: 1080px){

    .contenedor-producto-carrito{
        display: flexbox;
        margin: auto;
        justify-content: center;
        width: 100vw;
    }
    .contenedor-producto{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid var(--naranja);
        margin-bottom: 20px;
    }
    .main-carrito{
        text-align: center;
    }
    .section-carrito{
        
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .contenedor1-carrito{
    width: 100%;
    }
    
    
    .img-carrito{
     width: 70%;
        height: 40vh;
        padding: 50px;margin: auto;
    }
    .nombre-producto{
        width: 80%;
        margin: auto;
        color: black;
    }
    .nombre-producto a{
       
        color: black;
    }
    .precio-producto{
       font-weight: bold;
       color: var(--naranja);
       font-size: xx-large;
    }
    .contadores-carrito{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .numeroContador-carrito{
        font-size: 40px;
        margin: 0 30px;
    }
    .mas-menos{
        background-color: black;
        padding:10px;
        color: white;
        border: 1px solid var(--naranja);
        cursor: pointer;
    
    }
    .btn-eliminar{
     padding: 5px;
     font-size: 30px;
     border: none;
     cursor: pointer;
    }
    .precio{
        font-size: 40px;
        color: forestgreen;
    }
    
    .total{
    width: 50%;
    margin: 50px auto;
    }
    
    .totalyprecio{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 30px;
    }
    .naranja{
        color: var(--naranja);
    }
    .comprar{
        width: 80%;
        background-color: green;
        border: 1px solid var(--naranja);
        border-radius: 10px;
        color: white;
        font-size: 35px;
        margin: 10px 0;
        cursor: pointer;
    }
    .limpiar-carrito{
        background-color: red;
        color: white;
        margin: 10px 0;
        border: 1px solid var(--naranja);
        border-radius: 10px;
        font-size: 30px;
        width: 80%;
        cursor: pointer;
    }
    
    .contenedor-carrito{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    .contenedor-carrito h3{
    font-size: 30px;
    color: var(--naranja);
    }
    
    .radio-carrito{
        width: 100%;
        margin: 10px;
        text-align: center;
    }
    .block{
        display: block;
        width: 50%;
    }
    .div-img-carrito{
        width: 50%;
    }
    
}