.div-img-profile{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    align-items: center;
    background-color: v;
    
}
.div-img-profile img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
}
.div-img-profile h1{
   font-size: medium;
   text-transform: uppercase;
}
.div-img-profile h2{
    display: none;
  }
.form-password{
    margin-top:20px;
    display: flex;
    flex-direction: column;
}
.div-detalle-password{    
       text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

.div-detalle-password h3 a{
    color: black;
}


@media (min-width: 768px){

    .main-profile{
        display: flex;
    }


    .div-img-profile{
        display: flex;
        justify-content: space-around;
        margin: auto;
        background: linear-gradient(to right, #FF9D00, rgb(255, 255, 255));
        align-items: center;


    }
    .div-img-profile img{
       width: 250px;
       height: 250px;
       border-radius: 10%;
    }
    .div-img-profile h1{
       font-size: 50px;
       text-transform: uppercase;
    }
    .div-img-profile h2{
       display: block;
    }
    
    
    
    
    
    .div-detalle-password{
        text-align: center;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div-detalle-profile h3{
        font-size: 25px;
        margin: 15px 0;
    }
    .div-detalle-profile h3 a{
        color: black;
    }
}