.main-detail {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

}

.centrar-producto {

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.img-detail {
    width: 80%;
    display: flex;
    margin: auto;
}

.img-detail img {
    width: 100%;
    margin: 0 auto;
}

.detail-product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.detail-categoria {
    margin-left: 10px;

    width: 100%;
    display: flex;
}

.detail-categoria p {
    background-color: var(--gris-claro);
    padding: 4px;
    border-radius: 5px;
}

.detail-precio {
    font-weight: bold;
    margin: auto;
    font-size: xx-large;

}

.detail-oferta {
    font-weight: bold;
    background-color: greenyellow;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    margin: auto;
    box-shadow: 0 0px 5px black;


}

.descripcion-producto {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid orange;

}

.descripcion-producto h3 {
    background-color: orange;
    width: 100%;

}

.detail-descripcion {
    margin-left: 10px;
    margin: 20px 0;
    font-weight: bold;


}

.detail-boton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.detail-boton button {
    background-color: var(--naranja);
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
.detail-oferta2 {
    font-weight: bold;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    margin: auto;
    font-size: 45px;
    box-shadow: 0 -1px 5px -1px black;

}



@media(min-width: 768px) {
    .main-detail {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;

    }

    .img-detail {
        width: 40%;


    }

    .img-detail img {
        width: 100%;
        margin: 0 auto;

    }

    .detail-product {
        width: 40%;
        display: flex;
        text-align: center;
        margin: auto;
        align-items: center;
    }

    .centrar-producto {
        margin: 20px auto;
    }

    .detail-product h2 {
        width: 100%;
        margin: 10px;


    }

    .detail-categoria {
        margin-left: 10px;

        width: 100%;
        display: flex;
    }

    .detail-categoria p {
        background-color: var(--gris-claro);
        padding: 4px;
        border-radius: 5px;
    }

    .detail-precio {
        font-weight: bold;
        margin: 30px auto;
        font-size: xx-large;


    }

    .detail-oferta {
        font-weight: bold;
        background-color: greenyellow;
        padding: 5px;
        border-radius: 5px 5px 0 0;
        margin: auto;
        box-shadow: 0 0px 5px black;
    }

    .detail-oferta2 {
        font-weight: bold;
        padding: 5px;
        border-radius: 0 0 5px 5px;
        margin: auto;
        font-size: 45px;
        box-shadow: 0 0px 5px -1px black;

    }

    .descripcion-producto {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        border: 1px solid orange;
    }

    .detail-descripcion {
        margin-left: 10px;
        margin: 20px 0;
    }

    .detail-boton {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .detail-boton button {
        background-color: var(--naranja);
        padding: 10px;
        font-weight: bold;
        border: none;
        font-size: large;
        border-radius: 10px;
        cursor: pointer;
        text-transform: uppercase;
    }

}