.body-error404{
    text-align: center;
    background-image: url('../../img/logoo.gif');
}

.div-h1-error404{
margin-top: 100px;
background-color: green;
color: white;
}
.div-h1-error404 h1{
 font-size: 100px;

}
.div-noEncontrada-error404{
background-color: green;
color: white;
}
.div-noEncontrada-error404 p{
font-size: xx-large;
}