.contenedor-1-favorito{
   margin: 20px auto;
   box-shadow: 0 0 5px 1px black;
   border-radius: 10px;
   padding: 20px;
   text-align: center;
   align-items: center;
 width: 90%;
}
.contenedor-nombrePrecio h2 a{
    color: black;
}
.contenedor-nombrePrecio{
    margin-top: 15px;
}
.img-favorito{
    width: 40% ;
}
.div-img-favorito{
    width: 100%;
    border-bottom: 1px solid black;
    
}
.eliminar-favorito{
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 10px auto;
    text-transform: uppercase;
    background-color: rgb(247, 33, 33);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 1px black;
}
.agregar-favorito{
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 10px auto;
    text-transform: uppercase;
    background-color:orange;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 1px black;
}
.precio-favorito{
    font-size: 1.7rem;
    font-weight: bold;
    margin: 20px auto;
}
.h2-div-favoritos{
    width: 100%;
    background-color: black;
    padding: 10px;
}
.h2-favoritos{
    color: white;
    text-align: center;
}

.limpiar-favorito{
    border: 2px solid rgb(255, 100, 100);
    font-size: 1rem;
    font-weight: bold;
    margin: 10px auto;
    /* text-transform: uppercase; */
    background-color:rgb(248, 248, 248);
    padding: .7rem;
    color: rgb(255, 100, 100);
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0 0 1px black;
}

.noProductos-favoritos{
    height: 80vh;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50%;
    font-size: xx-large;
}

.fav-container-products{
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.fav-products-container{
    width: 100%;
}

.main-favorito{
    background-color: var(--gris-claro);
}

.fav-buton-clear{
    width: 100%;
    display: flex;
    justify-content: center;
}
