@import url("variables.css");

.footer-principal{
  background-color: var(--naranja);
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  border-top: 3px solid var(--naranja-oscuro);
}

.footer-principal-corto{
  background-color: var(--naranja);
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;

}

.caja-footer{
    width: 100%;
    padding: 10px 20px;
    text-align:center;
    margin-bottom: 10px;
}
.caja-footer-botones{
    width: 100%;
    padding: 10px 20px;
    text-align:center;
    margin-bottom: 10px;
}
.logo-footer{
  width: 100%;
}

.img-footer{
  width: 38%;
}

.iconos{
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.iconos div{
  margin-top: 5px;
  display: flex;
}

.iconos i {
    margin-left: 5px;
}

.iconos a{
    color: black;
}
.contenedor-links p{
  display: none;
}
.iconos .facebook:hover{
  color:#3b5998;
  transition: color, 0.2s;
}

.iconos .instagram:hover{
  color:#dd2a7b; 
  transition: color, 0.2s;
}

.iconos .twitter:hover{
  color: #0fa3dd;
  transition: color, 0.2s;
}

button:visited{
    color:black;
}
.btn-contactanos{
  background-color: var(--naranja);
  padding: 5px;
  margin-top: 10px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
}

.btn-contactanos:hover{
  opacity: 0.8;
  background-color: white;
  transition: color, 0.5s;
}

.btn-contactanos a{
  color: black;
}

.copyright{

}

.contenedor-links{
  margin: 0px 8px;
}
@media (min-width: 769px){
    /*laptop*/
      .caja-footer{
        width: 48%;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
      }
      .caja-footer-botones{
        width: 48%;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .iconos{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
       
      }
      
      .contenedor-links p{
        display: flex;
      }
      .iconos i{
        margin-right: 8px;
        margin-left: 0px;
        }
       .contenedor-links{
        padding-bottom: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       }    
       .footer-principal-corto{
        position: absolute;
        bottom: 0;
       }
       .img-footer{
        width: 38%;
      }
}
