@import url("variables.css");

.footer-principal{
    background-color: var(--naranja);
    padding: 3% 0%;
}

.caja-footer{
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    text-align:center;
    margin-bottom: 10px;
}

.iconos{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 0px;
}
.iconos i {
    margin-left: 5px;
}

.iconos a{
    display: none;
    color: black;
  }

button:visited{
    color:black;
}
.btn-contactanos{
  background-color: white;
  padding: 5px;
  margin-top: 4px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 8px;
}
.btn-contactanos a{
  color: black;
}

.contenedor-links{
  margin: 0px 8px;
}
@media (min-width: 769px){
    /*laptop*/
      .footer-principal{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .caja-footer{
        width: 39%;
        padding-left: 0;
        padding-right: 0;
      }
      .iconos{
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
      }
      .contenedor-links a{
        display: flex;
        font-size: 20px;
      }
      .iconos i{
        margin-right: 8px;
        margin-left: 0px;
        }
       .contenedor-links{
        padding-bottom: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       }    
}
