@import url("variables.css");

.nav-primary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.serch-bar{
    width: 100%;
    order: 1;
    border: 1px solid var(--naranja);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serch-bar input{
    width: 92%;
    height: 100%;
    padding: 0 1rem ;
    border: none;
    outline: none;
}
.serch-bar button{
    cursor: pointer;
    color: var(--naranja);
    place-items: center;
    background: none;
    border: none;
}

.nav-img{
    width: 8rem ;
    order: 0;
}

.nav-img img{
    width: 100%;
    height: 100%;
}