@import url("variables.css");

header{
    width: 100vw;
}

.nav-principal{
    background-color: var(--naranja);
    padding: 10px 0;
    
}

.nav-ul{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;  
    margin: 20px 0;
}
.nav-li{
width: 100%;
text-align: center;
padding: 5px;
font-weight: bold;
}
.nav-li a{
color: black;
}

nav ul{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    
}

.nav-ul{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;  
    margin: 20px 0;
}
.nav-li{
width: 100%;
text-align: center;
padding: 5px;
font-weight: bold;
}
.nav-li a{
color: black;
}

.nav-div{
display: flex;
justify-content: center;

}
.nav-div i{
background-color: #e4e4e4;
padding: 10px;
color: var(--negro);
font-size: x-large;
border-radius: 10px;
}


.nav-primary{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-img{
    width: 50%;
}

.serch-bar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px ;
    justify-content: center;
    align-items: center;
}

.serch-bar input{
    border: 1px solid var(--naranja);
    border-radius: 10px 0 0 10px;
    padding: 10px;
    width: 80%;
    font-size: 16px;
    outline: none;
}

.serch-bar label{
    border: 1px solid var(--naranja);
    padding: 10px;
    border-radius: 0 10px 10px 0;
    border-left: none;
}
.btn-login{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--naranja);
    margin: 0 20px;
}

.btn-login a{
    color: var(--blanco);
    font-size: 20px;
}

.btn-tienda{
    border: 1px solid var(--naranja);
    border-radius: 10px;
    padding: 10px;
}

.btn-tienda a{
    color: var(--negro);
    font-size: 20px;
}
