@import url("variables.css");
main h1{
    background-color: var(--gris-claro);
}
main h3{
    color: var(--naranja);
   
}
.br-1{
    border-radius: 10px;
}
.p-1 {
    padding: 10px;
}
.vw-90 {
    width: 90vw;
}
.wp-90{
    width: 90%;
}
.wp-80{
    width: 80%;
}
.mx-auto {
    margin: 0 auto;
}
.mx-1{
    margin:10px;
}
.flex {
    display: flex;
}
.justify-center-{
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.gap {
    gap: 14px;
}
.border-radius-100:hover{
    border-radius: 100%;
    box-shadow: 0 0 7px rgba(122, 122, 122, 0.582);
    cursor: grab;
}

.border-1:hover{
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(122, 122, 122, 0.582);
    cursor: grab;
    transform: scale(1.1);
}
.w-30{
    width: 30%;
}
.w-45{
    width: 45%;
}
.w-card-30{
    width: 23%;
}
.text-center{
    text-align: center;
}
.boton-enviar{
    background-color: var(--naranja);
    padding:5px;
    transition: all 1000ms;
}

.boton-enviar:hover{
    background-color: var(--naranja-oscuro) ;
    border-radius: 10px;
    font-weight:bold;
}

