.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:4rem 0;
}

.main-login {
    display: flex;
    flex-direction: column;
    background-color: var(--gris-claro);

}

.div-img {
    width: 100%;
    padding: 50px;
}

.img-logo {
    width: 100%;
}


.form-login {
    display: flex;
    width: 80%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px black;
    margin-top: 20px;

}





.form-login input {
    width: 60%;
    padding: 5px;
    margin: 5px 0;


}

.form-login input {

    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: white;



}

.w-60 {
    width: 60%;
}

.w-100 {
    width: 100%;

}


@media (min-width: 480px) {
    .body-login {
        background-color: var(--gris-claro);

    }


}

@media (min-width: 768px) {
    .label-login {
        font-size: x-large;
        font-weight: bold;
    }

    .input-login {
        font-size: large;

    }

    .form-login {
        padding: 50px;
        border-radius: 6px;
    }

    .main-login {
        background-color: var(--gris-claro);
    }

    .form-login input {
        padding: 5px;
        margin: 5px 0;
        border-radius: 5px;
        background-color: white;
        border: 2px solid gray;
    }

    .boton-enviar-login {
        cursor: pointer;
    }

    .boton-enviar-login:hover {
        background-color: var(--naranja);
        transition: 0.3s;
    }

    .registrate-login {
        margin-top: 30px;
        color: black;
    }

    .rojo-login {
        color: red;
    }

    .footer-principal-corto{
        position: relative;
    }
}


@media (min-width: 1020px) {
    .footer-principal-corto {    
        
        bottom: -50px;
        
    }
   
}
@media (min-width: 1366px) {
    .footer-principal-corto {

       
        position: relative;
        bottom: 0;


    }
}
@media (min-width: 1600px) {
    .footer-principal-corto {

       
        position: absolute;
        bottom: 0;


    }
}