.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:4rem 0;
}

.main-login {
    display: flex;
    flex-direction: column;
    background-color: var(--gris-claro);

}

.div-img {
    width: 100%;
    padding: 50px;
}

.img-logo {
    width: 100%;
}


.form-login {
    display: flex;
    width: 450px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    background-color: white;
    padding: 2rem;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(194, 194, 194);
    margin-top: 20px;
}

@media (max-width: 560px) {
    .form-login{
        width: 100%;
    }
}

.form-login input {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(216, 216, 216);
    border: none;
    outline: none;
}

.w-60 {
    width: 60%;
}

.w-100 {
    width: 100%;

}

.label-login {
    font-size:  1.5rem;
    font-weight: bold;
}

.boton-enviar-login{
    margin-top: 2rem;
}
.boton-enviar-login:hover{
    background-color: orange;
    color: white;
}

.registrate-login{
    color: var(--naranja);
}

.boton-enviar{
    margin-top: 2rem;
}

.nombreInput,
.emailInput,
.apellidoInput,
.usuarioInput,
.contraseñaInput1,
.contraseñaInput2{
    margin-bottom: 1rem;
}
