

.contenedor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
   
}

.div-img{
    width: 100%;
    padding: 50px;
}
.img-logo{
    width: 100%;
}


.form-login{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    background-color: var(--naranja);
    padding: 10px;
}
.form-login input{
   width: 60%;
   padding: 5px;
   margin: 5px 0;
  
   
}

.form-login input{
   
   padding: 5px;
   margin: 5px 0;
   border-radius: 5px;
   background-color: var(--gris-claro) ;
   border: none;
  
   
}

.w-60{
    width: 60%;
}
.w-100{
width: 100%;

}











