@import url("variables.css");
main h1{
    background-color: var(--gris-claro);
    font-size: 20px;
}
main h3{
    color: var(--naranja);
    font-size: 16px;
   
}
.articulo{
    height: 200px;
    width: 200px;
}
.descuento_article{
    color:var(--naranja)
}

.border-radius-100:hover{
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(122, 122, 122, 0.582);
    cursor: grab;
}

.border-1:hover{
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(122, 122, 122, 0.582);
    cursor: grab;
    transform: scale(1.1);
}

.boton-enviar{
    background-color: var(--naranja);
    padding:5px;
    font-size: 20px;
    transition: all 1000ms;
}

.boton-enviar:hover{
    background-color: var(--naranja-oscuro) ;
    border-radius: 10px;
    font-weight:bold;
    border: solid black

}
@media(min-width: 769px){

}
