.font-black-center {
    color: black;
    display: flex;
    flex-direction: row;
}
.font-black-center2 {
    color: black;
    display: flex;
    flex-direction: row;
    height: 50%;
}

.product-articule {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descuento {
    justify-content: center;
}

.div-imagen-producto {
    height: 50%;
    display: flex;
    align-items: center;
    margin: auto;
}

.imagen-producto {
   
   text-align: center;
}

.item-products-text {
    text-align: center;
}

