.font-black-center{
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.product-articule{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descuento{
    justify-content: center;
}