.user-card{
    border: solid 2px black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    width: 80%;
    align-items: center;
    background-color: var(--gris-claro);
    
}
.user-card input{
    width: 100%;
    background-color: var(--naranja);
    margin-top: 2px;
    border: 1px solid var(--naranja-oscuro);
    border-radius: 3px;
}
.user-card p{
    width: 100%;
    font-size: 12px;
}
.user-contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

@media(min-width: 469px){
    .user-card{
        width: 45%;
    }
    .user-contenedor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media(min-width: 768px){
    .user-card{
        width: 22%;
    }
    .user-contenedor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media(min-width: 1200px){
    .user-card{
        width: 15%;
    }
    .user-contenedor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .main-panel{
        margin-bottom: 20vh;
    }
}
