/* CLASES VARIABLES PARA EL HTML*/

.container{
    width: 90%;
}

.centerBox{
    margin: 0 auto;
}

.p-50{
    padding: 50%;
}

.p-100{
    padding: 100%;
}

.fz-16{
    font-size: 16px;
}


@media (max-width:1024px) {
    
    .show{
        display: none;
    }
}

.br-1{
    border-radius: 10px;
}
.p-1 {
    padding: 10px;
}
.vw-90 {
    width: 90vw;
}
.wp-90{
    width: 90%;
}
.wp-80{
    width: 80%;
}
.mx-auto {
    margin: 0 auto;
}
.mx-1{
    margin:10px;
}
.flex {
    display: flex;
}
.justify-center-{
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.gap {
    gap: 14px;
}


.w-100{
    width: 100%;
}

.w-30{
    width: 30%;
}
.w-45{
    width: 45%;
}
.w-card-30{
    width: 23%;
}
.text-center{
    text-align: center;
}