/*VARIABLES (COLORES, TAMAÑO DE FUENTES, ETC)*/

:root{
    --naranja:#FF9D00;
    --naranja-oscuro:#d38200;
    --blanco:#ffffff;
    --negro:#000000;
    --gris-claro:#e4e4e4;
    --gris-oscuro:#b2b2b2;
    --bg:#f8f3e9;
    --danger-color: var(--naranja-oscuro);
}






